@model IEnumerable<ReservationApplication.Areas.User.Models.SchedulerReservations>
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{

    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"].ToString()
    </div>
}

<link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.moonlight.min.css" rel="stylesheet" type="text/css" />
<script src="https://kendo.cdn.telerik.com/2018.2.516/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.2.516/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.aspnetmvc.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2018.2.516/js/cultures/kendo.culture.hu-HU.min.js"></script>

<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

<h2>Időpont foglalása</h2>

@*I use the Kendo Scheduler to create and show appointments. This Scheduler is very customizable.
    Here i set the start,, and end business hours, I change the editable settings, and give methodnames to the different events.*@
@(Html.Kendo().Scheduler<ReservationApplication.Areas.User.Models.SchedulerReservations>()
            .Name("scheduler")
            .Date(DateTime.Now)
            .StartTime(new DateTime(2018, 6, 13, 9, 00, 00))
            .EndTime(new DateTime(2018, 6, 13, 17, 00, 00))
            .Height(600)
            .Footer(false)
            .Timezone("Etc/UTC")
            .AllDaySlot(false)

            .MinorTickCount(3)

            .Views(views =>
            {
                views.WeekView();
            })


            .Editable(e =>
            {
                e.Move(false);
                e.Update(false);
                e.Resize(false);
                e.Destroy(false);
                e.TemplateId("editor");
            })

            .DataSource(ds => ds
                .Events(events => events.Error("RedirectPage"))
                .Batch(false)
                .Model(m =>
                {
                    m.Id(f => f.TaskID);
                    m.Field(f => f.OwnerID).DefaultValue(1);
                })
                .Read(read => read.Action("Read", "BookAnAppointment"))
                .Create(read => read.Action("Create", "BookAnAppointment")))
            .BindTo(Model)
)

@*I use this script to get the Hungarian language support. *@
<script type="text/javascript">
    kendo.culture("hu-HU");
</script>

@*I use this script to redirect when the reservation is wrong.*@
<script id="RedirectPage" type="text/javascript">
    RedirectPage = function (args) {
        document.location.href = "BookAnAppointment";
    };
</script>

@*I use this template when a user wants to create an appointment. In this I use a dropdown list, which display all of the category names.*@
<div id="editor" hidden="hidden" title="Időpont foglalása" type="text/x-kendo-template">
    <div class="k-edit-field" data-container-for="title">
        <h2>Időpont foglalása</h2>
    </div>

    <div class="k-edit-label">
        <label for="CategoryName">Kategória kiválasztása</label>
    </div>
    <div data-container-for="CategoryName" class="k-edit-field">
        <select id="CategoryName" class="catSel" data-bind="value: CategoryName" data-template="" data-role="dropdownlist" data-value-field="value" data-text-field="text">

            @foreach (var item in ViewBag.Categories)
            {
                <option style="background-color:red" value="@item.CategoryName">@item.CategoryName, @item.Price forint, @item.ProcessLengthInMunites perc</option>
            }
        </select>
    </div>
</div>

@*In the original width of the dropdown list, the text doesn't fit in one row, so i changed this.*@
<style>
    .catSel {
        width: 350px;
    }
</style>

<br />

<div class="card-columns">
    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Foglalás</div>
        <div class="card-body">
            Egy időpont lefoglalásához kattints duplán a kívánt idősávra, majd a kategória kiválasztása
            után a rendszer autómatikusan megjeleníti a foglalást a táblázatban.
            <br /><br /><br />
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Lehetőségek</div>
        <div class="card-body">
            Ahhoz, hogy a foglalásod érvényes legyen, a foglalás során ki kell választanod egy kategóriát,
            valamint egy, már más által lefoglalt időpontot nem fedhet az általad foglalt időpont. Ezen felül
            csak olyan időpontot választhatsz ki, amely még nem következett be.
        </div>
    </div>

    <div class="card border-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Törlés</div>
        <div class="card-body">
            Ha egy már lefoglalt időpontot törölni szeretnél, akkor erre lehetőséged van a felhasználói fiókod
            "Időpontok áttekintése" részénél.
            <br /><br /><br /><br />
        </div>
    </div>
</div>