@model IEnumerable<BOL.APPOINTMENTS>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var m = TempData["userappointments"] as List<BOL.APPOINTMENTS>;
}
<br />
<h2>@m.First().USERS.FullName (@m.First().NickName) időpontjai</h2>
<br />

<table class="table table-hover">
    <tr class="table-active">
        <th>
            @Html.ActionLink("Kategória név", "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CategoryName", Page = (ViewBag.Page == null ? "1" : ViewBag.Page), ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })
        </th>
        <th>
            @Html.ActionLink("Foglalás dátuma", "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "ReservationDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page), ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })
        </th>
        <th>
            @Html.ActionLink("Foglaláskor aktuális ár", "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CurrentPrice", Page = (ViewBag.Page == null ? "1" : ViewBag.Page), ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })
        </th>
        <th>
            @Html.ActionLink("Kezdő időpont", "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "StartDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page), ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })
        </th>
        <th>
            @Html.ActionLink("Befejező időpont", "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "EndDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page), ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })
        </th>
        <th></th>
    </tr>

    @foreach (var item in m)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIES.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }

</table>

@{
    double TotalPages = ViewBag.TotalPages;
}

<ul class="pagination pagination-lg">
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="page-item active">
                <a class="page-link active" href="@Url.Action( "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "NickName" : ViewBag.SortBy), Page = i, ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })">@(i.ToString() + " ")</a>
            </li>
        }
        else
        {
            <li class="page-item active">
                <a class="page-link" href="@Url.Action( "Details", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "NickName" : ViewBag.SortBy), Page = i, ISortOrder = ViewBag.ISortOrder, ISortBy = ViewBag.ISortBy, IPage = ViewBag.IPage, NickName = ViewBag.NickName })">@(i.ToString() + " ")</a>
            </li>
        }
    }
</ul>
<br />

@Html.ActionLink("Vissza az időpontokhoz", "Back", new { ViewBag.ISortOrder, ViewBag.ISortBy, ViewBag.IPage })
