<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Reservation Application", "Index", "Home", new { Area = "Common" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("U") || User.IsInRole("A"))
                        {
                            <li class="active">@Html.ActionLink("Időpont foglalása", "Index", new { Controller = "BookAnAppointment", Area = "User" })</li>
                            <li>@Html.ActionLink("Felhasználói adatok szerkesztése", "Index", new { Controller = "ChangeUserSettings", Area = "User" })</li>
                        }

                        if (User.IsInRole("A"))
                        {
                            <li>@Html.ActionLink("Időpontok kezelése", "Index", new { Controller = "ManageAppointments", Area = "Admin" })</li>
                            <li>@Html.ActionLink("Kategóriák kezelése", "Index", new { Controller = "ManageCategories", Area = "Admin" })</li>
                            <li>@Html.ActionLink("Felhasználók listázása", "Index", new { Controller = "ListUsers", Area = "Admin" })</li>
                        }
                        <li>@Html.ActionLink("Kijelentkezés", "SignOut", new { Controller = "Login", Area = "Security" })</li>
                        <li><a href="#"> Üdvözöllek @User.Identity.Name!</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Bejelentkezés", "Index", new { Controller = "Login", Area = "Security" })</li>
                        <li>@Html.ActionLink("Regisztráció", "Index", new { Controller = "Registration", Area = "Security" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>