@model IEnumerable<BOL.APPOINTMENTS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var m = TempData["userappointments"] as List<BOL.APPOINTMENTS>;
    @*I take the active appointments on client side. *@
    int howmanyActive = 0;
    List<BOL.APPOINTMENTS> activeAppointments = new List<BOL.APPOINTMENTS>();
    foreach (var item in m)
    {
        if (item.StartDate > DateTime.Now)
        {
            activeAppointments.Add(item);
            howmanyActive++;
        }
    }
}

@*  I give informations from the deleting.*@
@if (TempData["MsgU"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["MsgU"].ToString()
    </div>
}

@if (TempData["MsgS"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["MsgS"].ToString()
    </div>
}

<br />
<h2>@User.Identity.Name időpontjai</h2>
<br />

<div class="alert alert-dismissible alert-success">
    Időpont törlésére csak a hajvágás kezdetétől számítva <b>egy</b> órával korábban áll rendelkezésünkre.
</div>

<br />

@*if The user has active appointments, then I show them in a table, else I giva a link to the booking page.*@
@if (howmanyActive > 0)
{
    <table class="table table-hover">
        <tr class="table-active">
            <th>
                @Html.ActionLink("Kategória név", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CategoryName", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Foglalás dátuma", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "ReservationDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Foglaláskor aktuális ár", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CurrentPrice", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Kezdő időpont", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "StartDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Befejező időpont", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "EndDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in activeAppointments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIES.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @if (item.StartDate > DateTime.Now.AddHours(1))
                    {
                        @Html.ActionLink("Törlés", "Index", new { id = item.ID }, new { @class = "btn btn-outline-success element", @data_toggle = "modal", @data_target = "#confirmdelete", @data_id = item.ID })

                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>Jelenleg nem rendelkezel aktív foglalással.</h2>
    <br />
    <h2>@Html.ActionLink("Itt tudsz időpontot foglalni.", "Index", "BookAnAppointment")</h2>
    <br />
}

<br />

@Html.Hidden("itemid", "", new { id = "itemid" })
@*I use this modal to confirm of the deleting.*@
<div class="modal fade" id="confirmdelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Törlés megerősítése</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Biztos hogy ki szeretnéd törölni az időpontot?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Mégsem</button>
                <button type="button" class="btn btn-outline-success" id="Delet">Törlés</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.element').click(function (e) {
            e.preventDefault();
            $('#confirmdelete').modal('show');

            var id = $(this).data('id');
            $('#itemid').val(id);
        });


        $('#Delet').click(function () {
            var id = $('#itemid').val();
            $.post('@Url.Action("Delete")', { id: id }).then(function () {
                $('#confirmdelete').modal('hide');
            });
        });
    });

</script>

@if (m.Count > 0)
{
    <table class="table table-hover">
        <tr class="table-active">
            <th>
                @Html.ActionLink("Kategória név", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CategoryName", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Foglalás dátuma", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "ReservationDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Foglaláskor aktuális ár", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "CurrentPrice", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Kezdő időpont", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "StartDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
            <th>
                @Html.ActionLink("Befejező időpont", "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), SortBy = "EndDate", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
            </th>
        </tr>

        @foreach (var item in m)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIES.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }

    </table>
}


@{
    double TotalPages = ViewBag.TotalPages;
}

<ul class="pagination pagination-lg">
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="page-item active">
                <a class="page-link active" href="@Url.Action( "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "NickName" : ViewBag.SortBy), Page = i })">@(i.ToString() + " ")</a>
            </li>
        }
        else
        {
            <li class="page-item active">
                <a class="page-link" href="@Url.Action( "Index", new { SortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), SortBy = (ViewBag.SortBy == null ? "NickName" : ViewBag.SortBy), Page = i})">@(i.ToString() + " ")</a>
            </li>
        }
    }
</ul>
